*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1080px;
}

img{
    max-width: 100%;
}


/* SECTION 1 */

.section {
    text-align: center;
    padding: 50px;
}

.section__text {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section__title{
    padding: 50px 50px 80px;
    font-family: 'Fredoka', sans-serif;
    font-size: 60px;
    color: #E53170;
    
}


/* SECTION FLOAT CARDS */
.col{
    margin-right: 30px;
    width: calc((100% - 90px) / 3) ;
    float: left; 
    background-color: #0F0E17;
    color: white;
    box-shadow: 20px 20px 50px grey;
    
}

.col-up{
    margin-bottom: 80px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.profile-photo{
    width: 96px;
    float: left;
}

.contact{
    padding-left: 120px;
    padding-top: 12px;
    line-height: 1.3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.profile-email{
    text-decoration: none;
    color: #68CBF2;
    font-weight: 500;
}

.profile-name{
    font-weight: 900;
    font-size: 20px;
}

.profile-job{
    font-weight: 400;
}


/* FOOTER */

.article-footer{
    text-align: center;
    background-color: #222222;
    height: 200px;
    position: absolute;
    bottom: 20px;
    padding: 65px;
    font-size: 20px;
    color: white;
}





/* DEBUG */

.debug .container {
    border: 2px solid blue;
}
.debug .col{
    border: 2px solid red;
    /* padding: 20px; */
    min-height: 100px;
}