*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 1080px;
    padding: 10px;   
}

img{
    max-width: 100%;
}


/* SECTION 1 */

.section__text {
    font-size: 25px;
}

.section {
    text-align: center;
    padding: 50px;
}

.section__title{
    padding: 50px 50px 80px;
}


/* SECTION FLOAT CARDS */
.col{
    margin-right: 30px;
    width: calc((100% - 90px) / 3) ; 
}

.col-up{
    float: left;
    margin-bottom: 80px;
}

.col-down{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.profile-photo{
    width: 96px;
    float: left;
}


/* DEBUG */

.debug .container {
    border: 2px solid blue;
}
.debug .col{
    border: 2px solid red;
    /* padding: 20px; */
    min-height: 100px;
}